extends layout

block content

    a(href='/admin/createJoke') Create a new joke
        for joke, i in jokes
            p
                small #{new Date(joke.date).toLocaleDateString()}
            p #{joke.joke}

            a(href='/admin/delete/#{joke.id}') delete

            a(href='/admin/edit?id=#{joke.id}') Edit   