extends layout

block content

    - var formMethod = '/admin/newJoke'
    - var jokeText = ''

    if joke 
     - formMethod = '/admin/editJoke'
     - jokeText = joke.joke

    div.row.jokeForm
        form(method='POST', action=formMethod)
            label(for='theJoke') Enter your joke
                textarea(name='theJoke') #{jokeText}
                if joke
                    input(type='hidden', name='id', value=joke.id)
                br    
                input(type='submit', name='Add')    

